@import './register.scss';

.login-layout {
  @extend .register-layout;

  .auth-tabs {
    span {
      a {
        color: #333;
      }

      &.active a {
        color: #ff7a00;
      }

      &:hover a {
        color: #ff7a00;
      }
    }
  }
}
